<div class="container flex justify-content-center align-item-start">
  <mat-card  *ngIf="data$ | async as data">
    <mat-card-header>
      <mat-card-title><h2>Title: <a href="{{data.link}}"> {{data.title}}</a></h2></mat-card-title>
    </mat-card-header>
    <img src="{{data.imgSrc}}" alt="{{data.imgSrc}}">
  </mat-card>
</div>
