:host{
  display: block;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.title-box {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1%;
  background: #9c9c9c85;
}
