.img-title {
  position: absolute;
  width: 100%;
  background: #ffd73f80;
  height: 50px;
  bottom: 0;
  padding: 1%;
}

.img-box {
  width: 100%;
  cursor: pointer;
}

mat-card-content{
  height: 100%;
}

mat-card-footer {
  margin: 0!important;
}

