<div class="container">

  <search-box [inputCtrl]="searchInput"></search-box>
  <span *ngIf="!!noSearchResult" style="color: red">No Pics Found</span>
  <br>

  <div class="grid" [@listAnimation]="galleryImg.length">
    <div class="col flex" *ngFor="let img of galleryImg" @listAnimation>
      <mat-card class="img-box flex justify-content-center align-item-center">
        <image-box  [src]="img.imgSrc" [title]="img.title" (click)="selectImg(img)"></image-box>
      </mat-card>
    </div>
  </div>

</div>




