
<div class="mat-app-background basic-container">
  <mat-toolbar color="accent">
    <span>Gallery with Infinite Scroll</span>
    <span class="demo-toolbar"></span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
