/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding: 20px;
    min-height: 130vh;
}

.col {
  padding: 1rem;
}

.flex{
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: start;
}

@media screen and (max-width: 600px) {
  .mat-toolbar.mat-accent {
    background: #4061ff!important;
    color: rgb(240 233 233 / 87%)!important;
  }

  mat-card {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .col {
    width: calc(50% - 2rem);
  }

  mat-card {
    width: 100%;
  }
}



@media screen and (min-width: 1000px) {
  .col {
    width: calc(33.3333% - 2rem);
  }
}
